.App {
  text-align: center;
/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
}

.NavElement {
  border-radius: 8px;
  background-color: white;
  margin-top: 5px;
  font-weight: bolder;
  color: #000000;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0px 2px 0px 2px;
}

.NavElement:disabled {
  color: grey;
}

.Story {
  display: inline-flex;
  flex-direction: column;
}

.StoryBlock {
  border-width: medium;
  border-top: solid #dedede;
  border-radius: 20px;
  padding: 10px 30px 8px 30px;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
